body{
    text-align: center;
    background-color:rgb(3, 65, 74);
    background-size: cover;
}
#clockcontainer{
    border:2px solid;
    display: flex;
    justify-content: center;
    margin : 300px;
    background-color:beige;
    border-radius: 5px;
    background-size:cover;

    
}
#clock{
 color:rgb(2, 25, 45);
 font-size: 500%;
 text-align: center;
 font-family: monospace;
}